// frontend/assets/scss/_variables.scss
$primary-color: #4CAF50; // Verde
$secondary-color: #2196F3; // Azul
$danger-color: #f44336; // Rojo
$success-color: #8BC34A; // Verde claro

$bg-color-light: #f5f5f5;
$bg-color-dark: #333;

$text-color: #333;
$text-color-light: #666;
$border-color: #ddd;

$border-radius: 5px;
$padding-base: 15px;

$star-color-empty: #ccc;
$star-color-filled: #FFD700; // Dorado